 

body{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.wave{
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 100%;
    z-index: -1;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.phone{
    width: 500px;
   
}

.avatar{
    width: 100px;
    height: 100px;
}
.login{
    width: 400px;
    
 }
 input::after,input::before{
    height: 100px;
 }

form h2{
    padding-top: 5px;
    font-size:50px;
    text-transform: uppercase;
    text-align: center;
    
    
}.div-input{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0px;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.div-input .one{
    margin-top: 0px;
    height: 60px;
}
.div-input .two{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 60px;
}
.div-input.focus  > .i  > i{
    color: #32be8f;
    transition: .3s;
}
.div-input.focus  > div  > h5{
    top: -5px;
    font-size: 15Px;
}
.div-input:before, .div-input:after{
    content: ' ';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: .3s;
}
.div-input:after{
    right: 50%;
}
.div-input:before{
    left: 50%;
}
.div-input.focus:after,.div-input.focus:before{
    width: 50%;
}



a{
   
    display: flex;
    color: rgb(176, 174, 174);
    padding-top: 0px;
    padding-bottom: 10px;
    justify-content: flex-end;
    font-size: 13px;
    
}
a:hover{
    color:#38d39f ;
    text-decoration: none;
}
button{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 25px;
    transition: .5s;
}
button:hover{
    background-position:right;
}
.champ{
    display: block;
}
i{
    padding-right: 20px;
    font-size: 20px;
    color: gainsboro;
    position: relative;
    top: 25px;
}
h5{
    color: rgb(176, 174, 174);
    position: relative;
    top: 30px;
    width: 120px;
    z-index: -1;
}


input{
    width: 100%;
    
    border: none;
    outline: none;
    background: none;
    font-family:'Poppins', sans-serif;
    font-size: 1.3rem;
    color: #555;
}
.loogin{
    justify-content: center;
}
  @media screen and (max-width: 992px)  {
    .bg-img{
        display: none;
    }
    .wave{
        display: none;
    }
    
}  
 